{
  "name": "{{projectName}}",
  "version": "1.0.0",
  "description": "{{description}}",
  "main": "./lib/umd/index.js",
  "module": "./lib/es/index.js",
  "unpkg": "./lib/umd/index.js",
  "scripts": {
    "build": "rimraf ./lib && rollup -c",
    "eslint": "./node_modules/.bin/eslint ./src",
    "test": "./node_modules/.bin/mocha ./test/index.spec.js"
  },
  "repository": {
    "type": "git",
    "url": "{{repository}}"
  },
  "keywords": "{{keywords}}",
  "author": "{{author}}",
  "license": "MIT",
  "bugs": {
    "url": "{{bugsUrl}}"
  },
  "homepage": "{{homepage}}",
  "devDependencies": {
    "eslint": "^5.3.0",
    "mocha": "^5.2.0",
    "rollup": "^0.65.0",
    "rollup-plugin-commonjs": "^9.1.6",
    "rollup-plugin-node-resolve": "^3.3.0",
    "rollup-plugin-uglify": "^5.0.2",
  }
}
