# {{projectName}}
![gzip with dependencies: kb](https://img.shields.io/badge/gzip--with--dependencies-kb-brightgreen.svg "gzip with dependencies: kb")
![pkg.module](https://img.shields.io/badge/pkg.module-supported-blue.svg "pkg.module")

{{description}}

## repository
{{repository}}

## Demo
{{homepage}}

## Installation
```bash
npm i -S {{projectName}}
```

## Import
```js
import ModuleName from '{{projectName}}';
```

Use in html, see what your can use in [CDN: unpkg](https://unpkg.com/{{projectName}}/lib/umd/)
```html
<-- use what you want -->
<script src="https://unpkg.com/{{projectName}}/lib/umd/<--module-->.js"></script>
```
