module.exports = {
  'parser': '@typescript-eslint/parser',
  'parserOptions': {
  },
  'env': {
    'browser': true,
    'commonjs': true,
    'node': true,
  }
  'extends': [
    'eslint:recommended',
    'airbnb-base',
    'plugin:prettier/recommended',
  ],
  'rules': {
    'prettier/prettier': 'error',
  },
  'plugins': ['@typescript-eslint', 'prettier'],
}
