.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

/test/**
/coverage/**
/src/**
/examples/**
/dist/**

/karma.conf.js
/.eslintrc.js
/.eslintignore
/.prettierrc.js
/.babelrc.js
/tsconfig.json
/index.js
/webpack.*.js
/rollup.*.js
/node-module-names.js
