module.exports = {
  'parserOptions': {
    'parser': 'babel-eslint',
  },
  'env': {
    'browser': true,
    'commonjs': true,
    'node': true,
  },
  'extends': [
    'eslint:recommended',
    'airbnb-base',
    'plugin:prettier/recommended',
    'import/prefer-default-export': 'off',
  ],
  'rules': {
    'no-useless-constructor': 'off',
    'no-undef': 'off',
    'prettier/prettier': 'error',
  },
  'plugins': ['prettier'],
}
