module.exports = {
  'parserOptions': {
    'parser': 'babel-eslint',
  },
  'plugins': [
    'vue',
    'prettier'
  ],
  'extends': [
    'airbnb-base',
    'plugin:vue/essential',
    'plugin:prettier/recommended',
  ],
  'rules': {
    'no-useless-constructor': 'off',
    'no-undef': 'off',
    'prettier/prettier': 'error',
    'import/prefer-default-export': 'off',
  },
  'settings': {
    'import/resolver': {
      'node': {
        'extensions': ['.js', 'jsx', '.vue'],
      },
    },
  },
}
