module.exports = {
  'parserOptions': {
    'parser': '@typescript-eslint/parser',
  },
  'plugins': [
    '@typescript-eslint',
    'vue',
    'prettier'
  ],
  'extends': [
    'airbnb-base',
    'plugin:vue/essential',
    'plugin:prettier/recommended',
  ],
  'rules': {
    "@typescript-eslint/no-unused-vars": "warn",
    'prettier/prettier': 'error',
  },
  'settings': {
    'import/resolver': {
      'node': {
        'extensions': ['.js', '.jsx', '.ts', '.tsx', '.vue'],
      },
    },
  },
}
