module.exports = {
  'parserOptions': {
    'parser': '@typescript-eslint/parser',
  },
  'plugins': [
    '@typescript-eslint',
    'vue',
    'prettier'
  ],
  'extends': [
    'airbnb-base',
    'plugin:vue/essential',
    'plugin:prettier/recommended',
  ],
  'rules': {
    'prettier/prettier': 'error',
  },
}
