import { shallowMount } from '@vue/test-utils'
import {{GlobalName}} from '../src/components/Index.vue'

describe('Index.vue', () => {
  it('Rendered', () => {
    const wrapper = shallowMount({{GlobalName}})
    expect(wrapper.find('div').exists()).to.equal(true)
  })
})
