module.exports = {
  'parserOptions': {
    'parser': '@typescript-eslint/parser',
  },
  'env': {
    'browser': true,
    'commonjs': true,
    'node': true,
  },
  'extends': ['react-app'],
  'rules': {
    'prettier/prettier': 'error',
  },
  'plugins': ['prettier'],
}
